.header {
    background-color: burlywood;
    color: black;
}

.logo {
    text-align: center;
}

.search-input, .search-dropdown {
    height: 25px;
}

.search-input {
    width:50%;
}

.nav-bar-link {
    text-align: center;
    display: flex;
    margin-bottom: 5px;
}

.link {
    text-align: center;
}

.link-text {
    text-align: center;
    align-self: flex-end;
}