.new-group-accordion {
    text-align: center;
}

.new-group-button {
    margin-top: 10px;
}

.new-group-button-label {
    margin-left: 3px;
}

.new-group-form {
    padding: 5px;
}

.new-group-submit {
    margin-top: 5px;
}